---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">My articles are also on <a href="{{site.author.googlescholar}}">Google Scholar</a>.</div>
{% endif %}

{% include base_path %}

<!-- Mixed publications sorted by date (newest first) -->
{% assign sorted_publications = site.publications | sort: 'date' | reverse %}
{% for post in sorted_publications %}
  {% comment %} Get publication type from config {% endcomment %}
  {% assign pub_type = site.publication_category[post.category].title %}
  
  <div class="publication-item">
    {% include archive-single.html pub_type=pub_type %}
  </div>
{% endfor %}
